.pill {
  padding: 0 10px;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.pill--light{
  color: var(--veryDarkGray);
  background: var(--gray);
}
.pill--dark{
  color: var(--white);
  background: var(--darkGray);
}
.pill:not(:last-child) {
  margin-bottom: 26px;
}
.pill--green--light {
  background: var(--green);
}
.pill--yellow--light {
  background: var(--yellow);
}
.pill--red--light {
  background: var(--red);
}

.pill--green--dark {
  background: var(--darkGreen);
  color: var(--lightGray)
}
.pill--yellow--dark {
  background: var(--darkYellow);
  color: var(--lightGray)
}
.pill--red--dark {
  background: var(--darkRed);
  color: var(--lightGray)
}