.app {
  min-height: 100vh;
  max-width: 1080px;
  margin: 0 auto;
}
.section {
  gap: 0 66px;
  margin-bottom: 66px;
}

.section .d-flex {
  gap: 0 66px;
}

.footer .separator {
  margin-bottom: 32px;
}


.job-experience .experience {
  padding: 0 0 0 20px;
  border-left: 2px solid var(--gray);
}

.job-experience .experience:first-child {
  border: none;
}

.contacts {
  display: grid;
  grid-template-columns: 1fr;
}

.footer {
  margin-bottom: 32px;
}

@media only screen and (min-width: 580px) {
  .contacts {
    margin: 0px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .section {
    display: flex;
  }
  .job-experience {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .contact-box:first-child{
    margin-bottom: 25px;
  }
  .content-box{
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .job-experience {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .experience{
    margin: 0 auto;
    
  }
  .job-experience .experience{
    padding: 0;
    border:none;
  }
  .job-experience .experience:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--gray);
  }
}
