.app {
  min-height: 100vh;
  max-width: 1080px;
  margin: 0 auto;
}

.content-box.pills-box .pill {
  margin-bottom: 30px;
}

.section {
  gap: 0 66px;
  margin-bottom: 66px;
}

.section .d-flex {
  gap: 0 66px;
}

.footer .separator {
  margin-bottom: 32px;
}


.job-experience .experience {
  padding: 0 0 0 20px;
  border-left: 2px solid var(--gray);
}

.job-experience .experience:first-child {
  border: none;
}

.contacts {
  display: grid;
  grid-template-columns: 1fr;
}

.footer {
  margin-bottom: 32px;
}
@media only screen and (min-width: 800px) {
  .job-experience {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
}
@media only screen and (max-width: 800px) {
  .job-experience {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .experience{
    margin: 0 auto;
  }
  .job-experience .experience {
    padding: 0;
    border-left: none;
  }
}
@media only screen and (max-width: 768px) {
  .contact-box:first-child{
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 768px) {
.section {
  display: flex;
}
.contacts {
  margin: 0px 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
}