:root {
  --white: #ffffff;
  --black: #000000;
  --green: #5dbd98b9;
  --gray: #dcdcdc;
  --yellow: #fcf271;
  --red: #eb9f81;
  --lightGray:#e4e4e4;
  --darkGreen: #43886d9f;
  --darkYellow: #beb75088;
  --darkRed: #a7705abe;
  --veryDarkGray:rgb(46, 46, 46);
}

* {
  transition: all 0.3s linear;
}

body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);

}
.body--dark{
  color: var(--gray);
  background-color: var(--veryDarkGray)
}
.body--dark p, .body--dark a, .body--dark li, .body--dark h3{
  color: var(--gray);
}
.body--dark a img{
  filter: invert(100%);
}

p,
a,
li,
span {
  font-size: 16px;
  line-height: 20px;
  font-weight: medium;
  text-decoration: none;
  color: var(--black);
}

.d-inline-flex {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}
@media only screen and (min-width: 768px) {
  .d-flex {
    display: flex;
  }
  }
  @media only screen and (max-width: 768px) {
  main {
    margin: 20px;
  }
}