@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
:root {
  --veryLightGray: #eeeeee;
  --lightGray: #e4e4e4;
  --white: #ffffff;
  --black: #000000;
  --green: #367968;
  --gray: #dcdcdc;
  --yellow: #e4db68;
  --red: #eb9f81;
  --darkGreen: #367968b2;
  --darkYellow: #beb75088;
  --darkRed: #a7705abe;
  --darkGray: #777777;
  --veryDarkGray: rgb(34, 34, 34);
  --shadowGray: #353535a2;
  --blueGlow: #00eeff;
}

body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}
main {
  margin: 0 20px;
}

p,
a,
li,
span {
  font-size: 14px;
  line-height: 20px;
  font-weight: medium;
  text-decoration: none;
  color: var(--black);
}

.d-inline-flex {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}
@media only screen and (min-width: 540px) {
  .d-flex {
    display: flex;
  }
}
@media only screen and (max-width: 768px) {
  p,
  a,
  li,
  span {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1000px) {
  .body--dark .header__info {
    border: 4px solid var(--gray);
  }
}
